@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Hot Dog Lover Profile</h1>
    <h3><a href="" >Change</a></h3>
</div>
<div class="row">
    <div class="col-md-4">
        <img class="col-md-12" href="" src="http://images.wisegeek.com/hot-dog-with-mustard.jpg" alt="" />
        <ul class="col-sm-12">
            <li>Favorite Dog: All Beef</li>
            <li>Last Ate: Tom's Wagon</li>
            <li>Date: 1/12/14</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h2>Chris Steinkamp</h2>
        <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non finibus
             sapien. Sed nibh magna, faucibus tristique quam id, aliquam pretium urna. Fusce magna nunc,
             placerat placerat libero nec, mollis lacinia sem. Cum sociis natoque penatibus et magnis
             dis parturient montes, nascetur ridiculus mus. Cras nec fermentum lorem. Aliquam ultricies
             venenatis felis, id tristique odio. Quisque aliquet sagittis gravida. Nullam lacinia dui lectus,
             eu eleifend leo tempus egestas. Quisque nec mattis orci. Pellentesque vitae erat odio. Maecenas
             sit amet lacus maximus, posuere elit nec, suscipit sem. Proin commodo facilisis nulla sit amet
             gravida. Morbi a condimentum magna
        </p>
        <p>
            O pedaço mais habitual do Lorem Ipsum usado desde os anos
            1500 é reproduzido abaixo para os interessados. As secções 1.10.32 e 1.10.33 do
            "de Finibus Bonorum et Malorum" do Cícero também estão reproduzidos na sua
            forma original, acompanhados pela sua tradução em Inglês, versões da
            tradução de 1914 por H. Rackham.
        </p>
        <p>(This is your personal statement Bio)</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <h2>Past Dogs: <a href="http://hotdogloverchris.azurewebsites.net/Hotdogs/Index">View</a></h2>

    </div>
</div>

